@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
};

/* Hide scrollbar completely for all browsers */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}